@page
@model PizzaBoxWeb.Views.Home.SignInModel
@{
}
    <div class="text-center">
        <form>
            <h1>Sign In</h1>
            <div class="text-right" style="padding:30px 420px 20px 300px;">
                <p>
                    <label>User Name</label>
                    <input type="text" name="username" value="" required />
                </p>
                <p>
                    <label>Password</label>
                    <input type="password" name="password" value="" required />
                </p>

            </div>
            <p><a asp-controller="Home" asp-action="UserMenu" class=" btn-primary btn-lg">Log In</a></p> 
            @*<input type="submit" class=" btn-primary btn-lg" value="Log In">*@
        </form>
    </div>
