@page
@model PizzaBoxWeb.Views.Home.UserMenuModel
@{
}
    <h1 class="display-4, text-center">Log in as UserXXXXX</h1>
    <div class="text-center" style="color:white;padding:30px 300px 20px 300px;">        
        <p><a asp-controller="Home" asp-action="" class=" btn-primary btn-lg btn-block">Place an Order</a></p>
        <p><a asp-controller="Home" asp-action="" class=" btn-primary btn-lg btn-block">Order History</a></p>
        <p><a asp-controller="Home" asp-action="Index" class=" btn-primary btn-lg btn-block">Sign Out</a></p>
    </div>